
.App {
  /* background-color: white; */
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

a {
  color: black;
  text-decoration: none;
}

.title {
  border: medium solid black;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
  font-size: 10px;
}
