@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

.Home {
  background-color: white;
  height: 100vh;
}

.section1 {
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('../assets/Home1.png');
}

.section1, .section2 {
  display: flex;
  width: 100%;
  height: 120%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -102px;
}

.section2 {
  flex-direction: column;
  margin-top: auto;
  padding-top: 100px;
  align-items: center;
  background-image: url('../assets/Home2.png');
}

.info {
  margin-top: 25vh;
  justify-content: flex-start;
  width: 100%;
  height: 130%;
  background-size: cover;
}

.infoHeader {
  font-size: 40px;
}

.infoParagraph {
  font-family: 'Montserrat', sans-serif;
}

.createPres {
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  height: 40px;
  width: 300px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  padding-left: 15px;
  padding-bottom: 2px;
  font-size: 16px;
}

.createBtn {
  background-color: rgb( 4, 251, 124);
  height: 38px;
  width: 130px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 3px;
  font-size: 14px;
  outline: none;
  border: 0px solid;
}

.createBtn:hover {
  background-color: rgb(8, 222, 111);
}

.section2 {
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.quoteDiv {
  width: 80%;
}

.quote {
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.quoter {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgba(73, 72, 72, 0.53);
  float: right;
  font-size: 20px;
}

.presList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.previousPresTitle {
  font-family: 'Lora', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
