.PresentationsList {
  display: flex;
  overflow: hidden;
}

.PresentationView {
  margin: 40px;
  padding: 20px;
  background-color: rgba(238, 237, 235, 0.5);
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.presTitle {
  font-size: 24px;
  background-color: rgba(224, 237, 229, 0.7);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: normal;
}

.date {
  font-weight: bold;
}

small {
  font-size: 20px;
}

.trashLogo {
  margin: 30px;
  align-self: center;
}
